:root {
  --azul-escuro: #085c67;
  --azul: #087788;
  --turquesa: #00cbb5;
  --cinza: #323b3b;
  --cinza-claro: #f2f6f6;
  --amarelo: #fdbc29;
}

body {
  min-height: 100vh;          /* ocupa toda a altura da tela */
  display: flex;
  flex-direction: column;
  margin: 0;
}

main {
  flex: 1;                    
}

/* FOOTER */
.footer {
  background: #085c67;
  padding: 50px 0;
  text-align: center;
  color: white;
  font-family: 'Poppins', sans-serif;
}

/* ÍCONES SOCIAIS */
.footer-social {
  margin-bottom: 25px;
}

.footer-social a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background: white;
  color: black;
  border-radius: 50%;
  font-size: 20px;
  margin: 0 8px;
  transition: 0.3s ease;
  text-decoration: none;
}

.footer-social a:hover {
  transform: translateY(-4px);
  background: #d4a017;
  color: #fff;
  text-decoration: none;
}

/* MENU DO FOOTER */
.footer-menu {
  list-style: none;
  padding: 0;
  margin: 10px 0 25px 0;
}

.footer-menu li {
  display: inline-block;
  margin: 0 15px;
}

.footer-menu a {
  text-decoration: none;
  color: #e2e2e2;
  font-size: 14px;
  transition: 0.3s ease;
}

.footer-menu a:hover {
  color: #d4a017;
}

/* COPYRIGHT */
.footer-copy {
  font-size: 12px;
  color: #cccccc;
}
