:root {
  --azul-escuro: #085c67;
  --azul: #087788;
  --turquesa: #00cbb5;
  --cinza: #323b3b;
  --cinza-claro: #f2f6f6;
  --amarelo: #fdbc29;
}

/* no body ou container principal */
body {
  min-height: 100vh;          /* ocupa toda a altura da tela */
  display: flex;
  flex-direction: column;
  margin: 0;
}

main {
  flex: 1;                    /* faz o conteúdo ocupar o espaço restante */
}

/* seu footer */
footer {
  background: var(--azul-escuro);
  color: white;
  text-align: center;
  padding: 25px 15px;
}