/* NAVBAR */
nav {
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(12px);
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

nav a {
  margin-left: 25px;
  text-decoration: none;
  font-weight: 500;
  color: var(--cinza);
  transition: 0.3s;
}

nav a:hover {
  color: var(--azul);
}

/* BOTÃO NAV */
.btn-nav {
  background: var(--azul-escuro);
  color: white;
  padding: 10px 18px;
  border-radius: 30px;
  font-weight: 600;
  transition: 0.3s;
}
.btn-nav:hover {
  background: white;
  color: var(--azul-escuro);
  box-shadow: 0 0 0 2px var(--azul-escuro) inset;
}

/* MENU MOBILE */
.menu-toggle {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
  color: var(--azul);
}

/* Link de login */
.nav-links .btn-login {
    display: inline-block;
    margin-left: 10px;
    padding: 8px 15px;
    background-color: transparent;
    color: #1f3b6e;
    border: 2px solid #1f3b6e;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.nav-links .btn-login:hover {
    background-color: #1f3b6e;
    color: #fff;
}
