:root {
  --azul-escuro: #085c67;
  --azul: #087788;
  --turquesa: #00cbb5;
  --cinza: #323b3b;
  --cinza-claro: #f2f6f6;
  --amarelo: #fdbc29;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

p a {
    text-decoration: none;
    color: var(--azul);
}

p a:hover {
    text-decoration: underline;
    color: var(--azul-escuro);
}

.container {
    max-width: 900px;
    margin: 40px auto;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}

.botao-criar, .botao-salvar, .botao-voltar {
    display: inline-block;
    background-color: var(--amarelo);
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 6px;
    margin: 10px 5px;
}

.botao-salvar {
    background-color: #2e8b57;
}

.botao-voltar {
    background-color: #999;
}

.tabela-mentorias {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.tabela-mentorias th, .tabela-mentorias td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

.tabela-mentorias th {
    background-color: #f0f0f0;
}
